<div id = "flash-message">
    {{#if messages.error}}
    <div class="alert stranger-danger"> {{messages.error}}</div>
    {{else}}
    <div class="alert alert-subitted">{{message.success}}</div>
    {{/if}}
</div>