<div class="main-container">
<main>
	<h2 class="h2">Post Video</h2>
	<form action="/posts/create" method="POST" enctype="multipart/form-data">
		<label for="title"> Video Title</label>
		<input type="text" id="title" name="title" required>

		<label for="description">Video Description:</label>
		<textarea id="description" name="description" required></textarea>

		<label for="video">Video</label>
		<input type="file" id="video" name="video" required>

		<div class="condition">
			<input type="checkbox" id="accept-policy" name="accept-policy" required>
			<label for="accept-policy">Acceptable User Policy</label>
		</div>
		
		<div class="condition">
			<input type="checkbox" id="accept-policy" name="accept-policy" required>
			<label for="accept-policy">I agree to the terms and conditions.</label>
		</div>

		<input type="submit" value="Submit">
	</form>	
</main>
</div>