<div class="main-container">
<main>
         <h2>Username: Rishita Meharishi</h2>
         <p>Email: rmeharishi@mail.sfsu.edu</p>
         <h3>Posts:</h3>
         <ul>
            <li>
               <img class="thumbnail" src = "../public/images/sample4-thumbnail.png"
                  alt="" />
               <p> Sample video</p>
               <button class="sucess">Edit</button>
               <button class="danger">Delete</button>
            </li>
            <li>
               <img class="thumbnail" src = "../public/images/sample4-thumbnail.png"
                  alt="" />
               <p> Sample video</p>
               <button class="sucess">Edit</button>
               <button class="danger">Delete</button>
            </li>
         </ul>
         {{!-- <ol>
            <li> <b>Sandwich recipie - </b></li>
            <li>Post no.1:Toast some bread with butter </li>
            <li>Post no.2: Add the filling with Toamtoes and chopped veggies </li>
            <li>Post no.3: Add your favourite type of cheese </li>
            <li>Post no.4: Severe it with your favorite dressing. </li>
            <li> Viola! it's ready </li>
         </ol> --}}
      </main>
</div>

<!--<!DOCTYPE html>
<html>
   <head>
      {{!-- 
      <link rel="stylesheet" href="../css/style.css">
      --}}
      <title>User Profile</title>
      <h1>CSC 317 profile page</h1>
   </head>
   <body>
      <style>
      </style>
      <nav>
         <ul>
         </ul>
      </nav>
      <main>
         <h2>Username: Rishita Meharishi</h2>
         <p>Email: rmeharishi@mail.sfsu.edu</p>
         <h3>Posts:</h3>
         <ul>
            <li>
               <img src = "/public/images/sample4-thumbnail.png"
                  alt="" />
               <p> Sample video</p>
               <button class="sucess">Edit</button>
               <button class="danger">Delete</button>
            </li>
            <li>
               <img src = "/public/images/sample4-thumbnail.png"
                  alt="" />
               <p> Sample video</p>
               <button class="sucess">Edit</button>
               <button class="danger">Delete</button>
            </li>
         </ul>
         <ol>
            <li> <b>Sandwich recipie - </b></li>
            <li>Post no.1:Toast some bread with butter </li>
            <li>Post no.2: Add the filling with Toamtoes and chopped veggies </li>
            <li>Post no.3: Add your favourite type of cheese </li>
            <li>Post no.4: Severe it with your favorite dressing. </li>
            <li> Viola! it's ready </li>
         </ol>
      </main>
   </body>
</html>
  Thank you for your time in reviewing this assignment, have a wonderful day-->

